<div class="page-3 mt-5">
  <div class="content">
    <div class="content-top">
      <h3>He loves literature!</h3>
      <p>An avid reader since a very young age, he has
        participated in many a literary events over the years. <br />
        It sure does make for good discussions with him.
        Furthermore, he has grown to be an amazing poet with an
        instagram handle exclusively dedicated to poetry. <br />
        With a good command over both English and Hindi, his works
        are definitely worth your time.
      </p>
    </div>
    <div class="content-bottom">
      <h3>And he needs more content!</h3>
      <p>This website is definitely not ready for production
        for far too many chapters of his life remain to be read. <br />
        But find him, talk to him and I assure you, it will be fun. <br />
        Okay, bye.
      </p>
    </div>
  </div>
</div>