<div class="page-2 mt-5">
  <div class="content">
    <div class="content-left">
      <h4>He's a student!</h4>
      <p>Currently pursuing my Bachelor's in Technology <br />
        in the field of Information Technology <br />
        from <a class="link" href="https://www.mait.ac.in/">
          Maharaja Agrasen Institute of Technology</a>, Rohini.
      </p>
      <img id="college-logo" src="../../assets/images/page1Images/college.png" alt="college logo" />
    </div>
    <div class="content-right">
      <h4>He's a developer!</h4>
      <p>Experienced with web development in HTML, CSS,<br />
        jQuery, ReactJS and Django, algorithmic problem <br />
         solving with C, C++ and Java. Currently pursuing courses <br />
        in Applied Data Sciences with Python and Machine Learning.
      </p>
      <img id="developer-logo" src="../../assets/images/page1Images/code.png" alt="developer logo" />
    </div>
    <div class="content-left">
      <h4>He's an intern!</h4>
      <p>Currently interning with
        <a class="link" href="http://www.ril.com/OurCompany/About.aspx/">
          Reliance Industries Limited</a> <br />
        in their IT department in the field of web development.
      </p>
      <img id="intern-logo" src="../../assets/images/page1Images/reliance.png" alt="rintern logo" />
    </div>
  </div>
</div>