<div class="row justify-content-end align-items-center">
  Got a message to drop?
  <span (click)="openDialog()" class="fas fa-comment-dots" ></span>
</div>
<div class="row align-items-center">
  <div *ngFor="let message of messages" class="col-12 col-md-6 col-lg-4">
    <div class="card my-5">
      <div class="card-body">
        <div class="card-title">
          From, {{ message.sender }}
        </div>
        <div class="card-text">
          <p>{{ message.content }}</p>
          <hr />
          <p class="text-right">{{ message.pubDate | date }}</p> 
        </div>
      </div>
    </div>
  </div>
</div>
<div>

<!-- Modal -->
<!-- <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->
