<div class="row justify-content-end align-items-center">
  Got a message to drop?
  <span (click)="openDialog()" class="fas fa-comment-dots" ></span>
</div>
<div class="row align-items-center">
  <div *ngFor="let message of messages" class="col-12 col-md-6 col-lg-4">
    <div class="card my-5" attr.id="message-{{message.id}}">
      <div class="card-body">
        <div class="card-title">
          From, {{ message.sender }}
        </div>
        <div class="card-text">
          <p>{{ message.content }}</p>
          <hr />
          <p class="text-right">{{ message.pubDate | date }}</p> 
        </div>
      </div>
    </div>
  </div>
</div>
