/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

.fas, .fab {
  font-size: 3rem;
}