@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

.fas, .fab {
  font-size: 3rem;
}

html, body { height: 100%; }
