<div class="page-1">
  <div class="content">
    <h2>Hello,</h2>
    <h5>says ankit.</h5>
    <div class="social-links">
      <div>
        <p>He is available on facebook. Connect and share the love!</p>
        <a href="https://www.facebook.com/profile.php?id=100001923255642"
        class="fab fa-facebook fb"></a>
      </div>
        
      <div>
          <p>He is available on insta. Go, read some of his poems!</p>
          <a href="https://www.instagram.com/poet.ic.life/"
          class="fab fa-instagram insta"></a>
      </div>

      <div>
          <p>He is available on linkedIn. Connect and know his work!</p>
          <a href="https://www.linkedin.com/in/ankit-anurag-a20411182/"
          class="fab fa-linkedin ld"></a>
      </div>
    
      <div>
          <p>He is available on GitHub. Check out his projects!</p>
          <a href="https://github.com/MidnightMadne33"
          class="fab fa-github git"></a>
      </div>

      
    </div>
  </div>
</div>
